<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YACEE</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <environment names="Producttion">
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    </environment>
    <script src="~/js/libs/htmx/htmx.min.js" ></script>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
        @RenderBody()
        </main>
    </div>

        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
